<div class="">
  <div class="vd-upload">
    <span class="notice">提示：允许的上传格式包括 xxx。文件大小限制在 xxx 以内</span>
    <input id="add_files" class="ui-state-default ui-corner-all need-hover" name="add_files" type="file" multiple="false"/>
  </div>
  <div class="vd-info">
    <%= form_for @video_item, :url => {:controller => 'media', :action => 'edit'} do |f| %>
        <ul>
          <li><label>编号：</label><%= f.text_field @video_item.gsv_number %></li>
          <li><label>中文名：</label><%= f.text_field @video_item.title_chs %></li>
          <li><label>英文名：</label><%= f.text_field @video_item.title_eng %></li>
          <li><label>音频语言：</label><%= f.text_field @video_item.audio_language %></li>
          <li><label>字母语言：</label><%= f.text_field @video_item.subtitle_language %></li>
          <li><label>播放时间：</label></li>
          <li><label>视频录制时间：</label></li>
          <li>
            <div class="vd-translators">添加资料整理人员</div>
          </li>
          <li>
            <div class="vd-regions">添加拍摄地</div>
          </li>
          <li>
            <div class="vd-tags">添加标签</div>
          </li>
          <li><label>视频简介：</label><%= f.text_area @video_item.description %></li>
          <li>
            <div class="vd-document">文档关联</div>
          </li>
          <li><%= f.submit "提交" %></li>
        </ul>
    <% end %>
  </div>
</div>