<div class="vd-cnt">
  <div class="breadcrumb">
    <ul>
      <li><%= link_to "首页", root_path %> ></li>
      <li><%= link_to @gsubtopic.g_topic.topic_chs, video_topic_path(@gsubtopic.g_topic.id) %> ></li>
      <li><%= @gsubtopic.topic_chs %> </li>
    </ul>
  </div>
  <%= render :partial => "/video/shared/video_list" %>
</div>

<div class="ctg-bar">
  <%= render :partial => "/video/shared/topic_list_html" %>
</div>