<div class="vd-cnt">
  <div class="breadcrumb">
    <ul>
      <li><%= link_to "首页", root_path %> ></li>
      <li><%= @topic_item.topic_chs %></li>
    </ul>
  </div>
  <div class="vd-list">
    <% @topic_item.g_subtopics.each do |subtopic| %>
        <div class="f-list">
          <div class="topic-tag">
            <i><%= link_to subtopic.topic_chs, video_topic_detail_path(subtopic.id) %></i>

            <div class="more">
              <%= link_to "查看更多", video_topic_detail_path(subtopic.id) %>
            </div>
          </div>
          <div class="vidbox">
            <ul>
              <% subtopic.v_metadatas.paginate(:page => 1, :per_page => 8).each do |vd| %>
                  <li>
                    <div class="v">
                      <a href="<%= "/video/media/"+vd.id.to_s %>" title="<%= vd.title_chs %>">
                        <div class="preview">
                          <img src="/<%= vd.img_path %>" onerror="javascript:this.src='none.gif'"/>
                        </div>
                        <span class="title"><%= vd.title_chs %></span>
                      </a>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
    <% end %>
  </div>
</div>

<div class="ctg-bar">
  <%= render :partial => "/video/shared/topic_list_html" %>
</div>